.root {
  background-color: #EAEAEA;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin: 0 auto;
}

.content {
  min-height: calc(100vh - 225px);
  max-width: 1110px;
  margin: 0 auto;
}
