.card {
  box-sizing: border-box;
  padding: 18px 28px 18px 18px;
  border-radius: 30px;
  display: flex;
  background-color: #fff;
  width: 100%;
  justify-content: space-between;
}

.wrapperCard {
  display: flex;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 146px;
}

.buttonsWrapper {
  padding-top: 17px;
  display: flex;
  width: 100%;
  max-width: 125px;
  justify-content: space-between;
  align-items: center;
}

.decrease {
  background-image: url("../../assets/minus.svg");
}

.increase {
  background-image: url("../../assets/plus.svg");
}

.button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #FFCE7F;
  border-radius: 50%;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.counter {
  font-weight: 600;
  font-size: 17px;
}

.info {
  margin-left: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  margin: 0;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 17px;
}

.price {
  font-weight: 600;
  font-size: 15px;
  color: #aaa;
}

.trash {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/trash.svg");
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.total {
  font-weight: 500;
  font-size: 15px;
}
