.cart {
  display: flex;
  justify-content: space-between;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 633px;
}

.title {
  margin: 0;
  padding: 29px 0 13px;
}

.emptyCart {
  font-size: 32px;
}

.total {
  font-weight: 600;
  font-size: 15px;
}

.totalPrice {
  max-height: 120px;
  box-sizing: border-box;
  border-radius: 30px;
  margin-left: 127px;
  background-color: #fff;
  width: 100%;
  max-width: 350px;
}

.totalPriceHeading {
  padding: 21px 16px 15px 21px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalPriceTitle {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.order {
  font-size: 17px;
  font-weight: 600;
  border-radius: 20px;
  width: 100%;
  padding: 22px 14px;
  margin: 0;
  border: none;
  background-color: black;
  color: white;
}

.totalPriceSum {
  font-weight: 500;
  font-size: 15px;
}
