.header {
  box-sizing: border-box;
  max-width: 1110px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 100%;
  max-width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
}

.favourites {
  position: relative;
  display: block;
}

.cart {
  position: relative;
  display: block;
}

.counter {
  left: 15px;
  top: -9px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #FFA542;
  position: absolute;
}

.icon {
  width: 23px;
  height: 23px;
}
