.headphonesItem {
  padding: 15px 20px 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  max-width: 350px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.image {
  margin: auto;
}

.descriptionWrapper {
  width: 100%;
  margin-top: 54px;
}

.headingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.name {
  font-weight: 600;
  font-size: 17px;
  margin: 0;
}

.priceWrapper {
  position: relative;
}

.price {
  color: #FFA542;
  font-weight: 600;
  font-size: 17px;
}

.bottomWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating {
  width: 100%;
  max-width: 60px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.oldPrice {
  left: 10px;
  text-decoration: line-through;
  font-size: 13px;
  color: #FFCE7F;
  position: absolute;
}

.button {
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  background-color: inherit;
  border: none;
}
